# ANALISIS DE DATOS

Una vez leidos los datos de medidas y de temperaturas tenemos todos los datos necesarios para intentar analizar si hay un cambio en la demanda electrica según la climatología.

Vamos a plotear las medidas horarias de los grupos que hemos obtenido.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [37]:
Medida=pd.read_csv('./Medida_procesada.csv')

In [38]:
Medida.head(5)

,Fecha,Provincia,Tarifa,Fecha.1,Hora,NºClientes,Activa,Tanto1,Comunidad
0,2017-01-01,Albacete,2.0.A,2017-01-01,1,2.0,3.333,1.6665,Castilla la Mancha
1,2017-01-01,Albacete,2.0.A,2017-01-01,2,2.0,3.177,1.5885,Castilla la Mancha
2,2017-01-01,Albacete,2.0.A,2017-01-01,3,2.0,1.953,0.9765,Castilla la Mancha
3,2017-01-01,Albacete,2.0.A,2017-01-01,4,2.0,1.831,0.9155,Castilla la Mancha
4,2017-01-01,Albacete,2.0.A,2017-01-01,5,2.0,1.274,0.6370,Castilla la Mancha

In [21]:
Temperatura=pd.read_csv('./Temperaturas.csv', index_col=False)

In [23]:
Temperatura.head(5)

   Unnamed: 0 Provincia                Fecha  Temperatura           Comunidad
0           0  Albacete  2017-01-11 07:00:00          3.5  Castilla la Mancha
1           1  Albacete  2017-01-11 08:00:00          4.0  Castilla la Mancha
2           2  Albacete  2017-01-11 09:00:00          4.5  Castilla la Mancha
3           3  Albacete  2017-01-11 10:00:00          5.5  Castilla la Mancha
4           4  Albacete  2017-01-11 11:00:00          7.0  Castilla la Mancha