In [1]:
import pandas as pd

In [8]:
Bridgestone=pd.read_excel('./data/Bridgestone.xlsx')

In [9]:
Bridgestone.head()

  CUPS 22        DAY  HOUR  Sum of VALUE
0  Cups_1 2017-07-01     1          9528
1  Cups_1 2017-07-01     2         10600
2  Cups_1 2017-07-01     3          9249
3  Cups_1 2017-07-01     4          8404
4  Cups_1 2017-07-01     5         10777

In [13]:
Bridgestone.columns

Index(['CUPS 22', 'DAY', 'HOUR', 'Sum of VALUE'], dtype='object')

In [24]:
Bridgestone=Bridgestone.rename(columns={'CUPS 22':'Cups',
                                       'DAY':'Fecha',
                                       'HOUR':'Hora',
                                       'Sum of VALUE':'Active'})

In [25]:
Bridgestone.columns

Index(['Cups', 'Fecha', 'Hora', 'Active', 'datetime'], dtype='object')

In [26]:
Bridgestone['Fecha']=pd.to_datetime(Bridgestone['Fecha'], yearfirst=True, format='%Y-%m-%d')

In [27]:
Bridgestone['Hora'] = pd.to_timedelta(Bridgestone['Hora'], unit='h')

In [28]:
Bridgestone['datetime']=Bridgestone['Fecha']+Bridgestone['Hora']

In [29]:
Bridgestone.dtypes

Cups                 object
Fecha        datetime64[ns]
Hora        timedelta64[ns]
Active                int64
datetime     datetime64[ns]
dtype: object

In [30]:
Bridgestone=Bridgestone[['Cups','datetime','Active']]