## Instalo las librerías necesarias

In [1]:
import pandas as pd
import pyodbc

## Me conecto a la BBDD

Esto no es reproducible ya que es una BBDD de mi trabajo

In [15]:
def connect_to_SGE():
    conn = pyodbc.connect(r'DRIVER={SQL Server Native Client 11.0};'
                          r'SERVER=62.93.187.183;'
                          r'DATABASE=SGE;'
                          r'UID=Python;'
                          r'PWD=Ff5UJ+S9sgk'
                         )

    return conn

def simple_query(sql):    
    conn = connect_to_SGE()    
    data = pd.read_sql(sql,conn)
    return data

Defino tanto las fechas para la que quiero realizar la consulta como la ruta donde quiero que me deje el fichero de temperaturas

In [27]:
fecha_ini, fecha_fin = '20161231', '20170131'
ruta = r'C:\Users\guadguer\Notebook\Temperaturas\\'

Esta BBDD tiene tanto medidas de temperaturas reales como temperaturas previstas a futuro, en el notebook tengo tanto la opción de apuntar a la tabla de previsiones como a la de medidas reales

Para descargar previsiones

In [28]:
sql_prevs = """select Fecha
                      , Localidad
                      , Temperatura
               from [SGE].[aemet].[Forecast]
               where Fecha >= '{0}'
                     and Fecha < '{1}'""".format(fecha_ini, fecha_fin)

prevs = simple_query(sql_prevs)

nombre = 'prevs_temp_{0}_{1}.csv'.format(fecha_ini, fecha_fin)
prevs.to_csv(ruta + nombre, encoding='latin1', sep=';', decimal=',', index=False)

prevs.head()

                Fecha                            Localidad  Temperatura
0 2017-01-11 07:00:00                      A Coruña-Cambre         11.0
1 2017-01-11 07:00:00                   A Coruña-Culleredo         11.0
2 2017-01-11 07:00:00                    Albacete-Albacete          4.0
3 2017-01-11 07:00:00  Albacete-Chinchilla de Monte-Aragón          3.0
4 2017-01-11 07:00:00                      Badajoz-Badajoz          5.0

Para descargar medidas realaes

In [29]:
sql_temps = """select Fecha
                      , Localidad
                      , Temperatura
               from [SGE].[aemet].[measure]
               where Fecha >= '{0}'
                     and Fecha < '{1}'""".format(fecha_ini, fecha_fin)

temps = simple_query(sql_prevs)


nombre = 'medidas_temp_{0}_{1}.csv'.format(fecha_ini, fecha_fin)
temps.to_csv(ruta + nombre, encoding='latin1', sep=';', decimal=',', index=False)

temps.head()

                Fecha                            Localidad  Temperatura
0 2017-01-11 07:00:00                      A Coruña-Cambre         11.0
1 2017-01-11 07:00:00                   A Coruña-Culleredo         11.0
2 2017-01-11 07:00:00                    Albacete-Albacete          4.0
3 2017-01-11 07:00:00  Albacete-Chinchilla de Monte-Aragón          3.0
4 2017-01-11 07:00:00                      Badajoz-Badajoz          5.0