# Importar librerias necesarias

In [77]:
import pandas as pd
import openpyxl

# Lectura de los datos

Tengo toda la información de curvas de medida en dos ficheros excel, cada uno de los ficheros tiene varias pestañas por lo que tengo que unir toda la información en un solo data frame.

Lo primero de todo es abrir el primer fichero, ver cuantas pestañas tiene y los nombres de estas pestañas.

In [78]:
excel_document_17 = openpyxl.load_workbook('./data/Cups2017.xlsx')

In [79]:
excel_document_17.get_sheet_names()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  """Entry point for launching an IPython kernel.

['Page 1', 'Page 2', 'Page 3', 'Page 4']

### Unificar los datos. 

Accedemos al fichero excel y creamos un data frame de cada una de las pestaña, a continuación unimos todos los data frame en uno solo.

In [80]:
xlsx_2017 = pd.ExcelFile('./data/Cups2017.xlsx') 
df1 = pd.read_excel(xlsx_2017, 'Page 1') 
df2 = pd.read_excel(xlsx_2017, 'Page 2') 
df3 = pd.read_excel(xlsx_2017, 'Page 3') 
df4 = pd.read_excel(xlsx_2017, 'Page 4')

In [81]:
df_2017 = pd.concat([df1, df2, df3, df4])
df_2017.head(5)

,--Cups20--,--Line--,--Fecha--,--Hora--,--Active--,--Active With Transport Loss--,--Active With Transform Loss--
0,ES0021000004654210GL,0P,2017-01-01,1,4.085,5.22472,4.085
1,ES0021000004654210GL,0P,2017-01-01,2,3.757,4.80896,3.757
2,ES0021000004654210GL,0P,2017-01-01,3,3.930,5.03040,3.930
3,ES0021000004654210GL,0P,2017-01-01,4,3.912,5.00736,3.912
4,ES0021000004654210GL,0P,2017-01-01,5,3.839,4.91392,3.839

### Comprobamos que la unión de los ficheros es correcta y que el resultado df_2017 es la suma de los cuatro df anteriores

In [82]:
df1.count()

--Cups20--                        1018202
--Line--                          1018202
--Fecha--                         1018202
--Hora--                          1018202
--Active--                        1018202
--Active With Transport Loss--    1018202
--Active With Transform Loss--    1018202
dtype: int64

In [83]:
df2.count()

--Cups20--                        1030583
--Line--                          1030583
--Fecha--                         1030583
--Hora--                          1030583
--Active--                        1030583
--Active With Transport Loss--    1030583
--Active With Transform Loss--    1030583
dtype: int64

In [84]:
df3.count()

--Cups20--                        820351
--Line--                          820351
--Fecha--                         820351
--Hora--                          820351
--Active--                        820351
--Active With Transport Loss--    820351
--Active With Transform Loss--    820351
dtype: int64

In [85]:
df4.count()

--Cups20--                        837640
--Line--                          837640
--Fecha--                         837640
--Hora--                          837640
--Active--                        837640
--Active With Transport Loss--    837640
--Active With Transform Loss--    837640
dtype: int64

In [86]:
df_2017.count()

--Cups20--                        3706776
--Line--                          3706776
--Fecha--                         3706776
--Hora--                          3706776
--Active--                        3706776
--Active With Transport Loss--    3706776
--Active With Transform Loss--    3706776
dtype: int64

## Hacemos el mismo proceso con el excel de 2018

In [87]:
excel_document_18 = openpyxl.load_workbook('./data/Cups2018.xlsx')
excel_document_18.get_sheet_names()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).

['Page 1', 'Page 2', 'Page 3', 'Page 4', 'Page 5']

In [88]:
xlsx_18 = pd.ExcelFile('./data/Cups2018.xlsx') 
df11 = pd.read_excel(xlsx_18, 'Page 1') 
df22 = pd.read_excel(xlsx_18, 'Page 2') 
df33 = pd.read_excel(xlsx_18, 'Page 3') 
df44 = pd.read_excel(xlsx_18, 'Page 4') 
df55 = pd.read_excel(xlsx_18, 'Page 5')
df_2018 = pd.concat([df11, df22, df33, df44, df55])
df_2018.head(5)

,--Cups20--,--Line--,--Fecha--,--Hora--,--Active--,--Active With Transport Loss--,--Active With Transform Loss--
0,ES0021000004654210GL,0P,2018-01-01,1,0.0,0.0,0.0
1,ES0021000004654210GL,0P,2018-01-01,2,0.0,0.0,0.0
2,ES0021000004654210GL,0P,2018-01-01,3,0.0,0.0,0.0
3,ES0021000004654210GL,0P,2018-01-01,4,0.0,0.0,0.0
4,ES0021000004654210GL,0P,2018-01-01,5,0.0,0.0,0.0

# Unimos tanto el fichero de 2017 como el de 2018 y creamos un único fichero con las medidas de 2017 y 2018

In [89]:
Medidas = pd.concat([df_2017, df_2018])

In [90]:
df_2017.count()

--Cups20--                        3706776
--Line--                          3706776
--Fecha--                         3706776
--Hora--                          3706776
--Active--                        3706776
--Active With Transport Loss--    3706776
--Active With Transform Loss--    3706776
dtype: int64

In [91]:
df_2018.count()

--Cups20--                        4333518
--Line--                          4333518
--Fecha--                         4333518
--Hora--                          4333518
--Active--                        4333518
--Active With Transport Loss--    4333518
--Active With Transform Loss--    4333518
dtype: int64

In [92]:
Medidas.count()

--Cups20--                        8040294
--Line--                          8040294
--Fecha--                         8040294
--Hora--                          8040294
--Active--                        8040294
--Active With Transport Loss--    8040294
--Active With Transform Loss--    8040294
dtype: int64

### Formato

Damos un formato mas amigable al fichero cambiando los nombres de las columnas y dando formato fecha correcto.

In [93]:
Medidas = Medidas.rename(columns={'--Cups20--' : 'Cups20',
                                  '--Line--' : 'Line', 
                                  '--Fecha--' : 'Fecha', 
                                  '--Hora--' : 'Hora', 
                                  '--Active--' : 'Active' , 
                                  '--Active With Transport Loss--' : 'Active With Transport Loss', 
                                  '--Active With Transform Loss--' : 'Active With Transform Loss'})

In [94]:
Medidas.head(5)

,Cups20,Line,Fecha,Hora,Active,Active With Transport Loss,Active With Transform Loss
0,ES0021000004654210GL,0P,2017-01-01,1,4.085,5.22472,4.085
1,ES0021000004654210GL,0P,2017-01-01,2,3.757,4.80896,3.757
2,ES0021000004654210GL,0P,2017-01-01,3,3.930,5.03040,3.930
3,ES0021000004654210GL,0P,2017-01-01,4,3.912,5.00736,3.912
4,ES0021000004654210GL,0P,2017-01-01,5,3.839,4.91392,3.839

In [95]:
Medidas.dtypes

Cups20                                object
Line                                  object
Fecha                         datetime64[ns]
Hora                                   int64
Active                               float64
Active With Transport Loss           float64
Active With Transform Loss           float64
dtype: object

In [96]:
Medidas['Fecha'] = pd.to_datetime(Medidas['Fecha'], format = '%d%m%Y')

In [97]:
Medidas.dtypes

Cups20                                object
Line                                  object
Fecha                         datetime64[ns]
Hora                                   int64
Active                               float64
Active With Transport Loss           float64
Active With Transform Loss           float64
dtype: object

In [98]:
Medidas.head(5)

,Cups20,Line,Fecha,Hora,Active,Active With Transport Loss,Active With Transform Loss
0,ES0021000004654210GL,0P,2017-01-01,1,4.085,5.22472,4.085
1,ES0021000004654210GL,0P,2017-01-01,2,3.757,4.80896,3.757
2,ES0021000004654210GL,0P,2017-01-01,3,3.930,5.03040,3.930
3,ES0021000004654210GL,0P,2017-01-01,4,3.912,5.00736,3.912
4,ES0021000004654210GL,0P,2017-01-01,5,3.839,4.91392,3.839

# Contratos

A este fichero de medidas le falta información como la provincia por cliente, la tarifa contratada, o la potencia. Todos estos datos los conseguimos del excel de contratos que vamos a unir a este fichero según el CUPS.

In [99]:
contratos = pd.read_excel('./data/Contratos.xlsx')
contratos.head(5)

                CUPS 20 Tarifa Provincia  Potencia
0  ES0021000000472013PG  2.0.A  Alicante       6.60
1  ES0021000000951307DR  2.1.A  Alicante      13.20
2  ES0021000003992036XS  2.0.A    Madrid       3.30
3  ES0021000004049366LY  2.0.A    Madrid       3.45
4  ES0021000004146547NN  2.0.A    Madrid       3.45

In [105]:
contratos = contratos.rename(columns={'CUPS 20' : 'Cups20'})
contratos.head(5)

                 Cups20 Tarifa Provincia  Potencia
0  ES0021000000472013PG  2.0.A  Alicante       6.60
1  ES0021000000951307DR  2.1.A  Alicante      13.20
2  ES0021000003992036XS  2.0.A    Madrid       3.30
3  ES0021000004049366LY  2.0.A    Madrid       3.45
4  ES0021000004146547NN  2.0.A    Madrid       3.45

In [107]:
Medidas = pd.merge(contratos, Medidas, on='Cups20')
Medidas.head(5)

,Cups20,Tarifa,Provincia,Potencia,Line,Fecha,Hora,Active,Active With Transport Loss,Active With Transform Loss
0,ES0021000004654210GL,2.0.A,Madrid,4.4,0P,2017-01-01,1,4.085,5.22472,4.085
1,ES0021000004654210GL,2.0.A,Madrid,4.4,0P,2017-01-01,2,3.757,4.80896,3.757
2,ES0021000004654210GL,2.0.A,Madrid,4.4,0P,2017-01-01,3,3.930,5.03040,3.930
3,ES0021000004654210GL,2.0.A,Madrid,4.4,0P,2017-01-01,4,3.912,5.00736,3.912
4,ES0021000004654210GL,2.0.A,Madrid,4.4,0P,2017-01-01,5,3.839,4.91392,3.839

### Limpieza de datos

Vamos a ver las columnas que tiene el data frame y vamos a quedarnos solo con las necesarias para el analisis.

In [108]:
Medidas.columns

Index(['Cups20', 'Tarifa', 'Provincia', 'Potencia ', 'Line', 'Fecha', 'Hora',
       'Active', 'Active With Transport Loss', 'Active With Transform Loss'],
      dtype='object')

In [112]:
Medidas = Medidas[['Cups20', 'Tarifa', 'Provincia','Fecha', 'Hora', 'Active', 'Potencia ']]
Medidas.head(5)

                 Cups20 Tarifa Provincia      Fecha  Hora  Active  Potencia
0  ES0021000004654210GL  2.0.A    Madrid 2017-01-01     1   4.085        4.4
1  ES0021000004654210GL  2.0.A    Madrid 2017-01-01     2   3.757        4.4
2  ES0021000004654210GL  2.0.A    Madrid 2017-01-01     3   3.930        4.4
3  ES0021000004654210GL  2.0.A    Madrid 2017-01-01     4   3.912        4.4
4  ES0021000004654210GL  2.0.A    Madrid 2017-01-01     5   3.839        4.4

### Guardamos el fichero como un csv con las medidas de todos nuestros clientes durante dos años.

In [68]:
Medidas.to_csv('Medidas.csv')

# Agrupamos por Fecha, Hora, Provincia, Tarifa

Por motivmos de confidencialidad no puedo mostrar el origen de los datos, que son curvas de consumo horario por CUPS. Sin embargo a partir de ahora trabajermos con curvas de consumo horario agrupadas por estos campos que son suficientes para el desarrollo del modelo.

In [123]:
Group = Medidas.groupby(['Provincia', 'Tarifa'])['Provincia', 'Tarifa', 'Fecha', 'Hora', 'Active']
Group.head(5)

         Provincia   Tarifa      Fecha  Hora  Active
0           Madrid    2.0.A 2017-01-01     1   4.085
1           Madrid    2.0.A 2017-01-01     2   3.757
2           Madrid    2.0.A 2017-01-01     3   3.930
3           Madrid    2.0.A 2017-01-01     4   3.912
4           Madrid    2.0.A 2017-01-01     5   3.839
58256       Madrid   2.0DHA 2017-01-02     1   4.014
58257       Madrid   2.0DHA 2017-01-02     2   4.163
58258       Madrid   2.0DHA 2017-01-02     3   4.011
58259       Madrid   2.0DHA 2017-01-02     4   4.666
58260       Madrid   2.0DHA 2017-01-02     5   3.685
176050      Madrid    2.1.A 2017-07-27     1   0.376
176051      Madrid    2.1.A 2017-07-27     2   0.520
176052      Madrid    2.1.A 2017-07-27     3   0.429
176053      Madrid    2.1.A 2017-07-27     4   0.665
176054      Madrid    2.1.A 2017-07-27     5   0.522
188147      Murcia    2.0.A 2017-01-30     1   0.136
188148      Murcia    2.0.A 2017-01-30     2   0.071
188149      Murcia    2.0.A 2017-01-30     3   0.059
188150      Murcia    2.0.A 2017-01-30     4   0.059
188151      Murcia    2.0.A 2017-01-30     5   0.060
200783      Murcia    2.1.A 2017-01-30     1   0.022
200784      Murcia    2.1.A 2017-01-30     2   0.022
200785      Murcia    2.1.A 2017-01-30     3   0.021
200786      Murcia    2.1.A 2017-01-30     4   0.022
200787      Murcia    2.1.A 2017-01-30     5   0.022
215965      Toledo    2.0.A 2017-01-02     1   0.301
215966      Toledo    2.0.A 2017-01-02     2   0.300
215967      Toledo    2.0.A 2017-01-02     3   0.302
215968      Toledo    2.0.A 2017-01-02     4   0.301
215969      Toledo    2.0.A 2017-01-02     5   0.301
...            ...      ...        ...   ...     ...
7230806     Málaga   2.0DHA 2017-01-01     1   0.290
7230807     Málaga   2.0DHA 2017-01-01     2   0.216
7230808     Málaga   2.0DHA 2017-01-01     3   0.341
7230809     Málaga   2.0DHA 2017-01-01     4   0.263
7230810     Málaga   2.0DHA 2017-01-01     5   0.213
7486984     Málaga  2.1.DHA 2017-01-01     1   1.445
7486985     Málaga  2.1.DHA 2017-01-01     2   1.251
7486986     Málaga  2.1.DHA 2017-01-01     3   1.938
7486987     Málaga  2.1.DHA 2017-01-01     4   1.701
7486988     Málaga  2.1.DHA 2017-01-01     5   1.956
7501078    Sevilla  2.1.DHA 2017-01-01     1   1.159
7501079    Sevilla  2.1.DHA 2017-01-01     2   1.159
7501080    Sevilla  2.1.DHA 2017-01-01     3   1.146
7501081    Sevilla  2.1.DHA 2017-01-01     4   1.204
7501082    Sevilla  2.1.DHA 2017-01-01     5   1.147
7527908    Córdoba    2.0.A 2017-01-01     1   1.254
7527909    Córdoba    2.0.A 2017-01-01     2   1.256
7527910    Córdoba    2.0.A 2017-01-01     3   1.164
7527911    Córdoba    2.0.A 2017-01-01     4   1.106
7527912    Córdoba    2.0.A 2017-01-01     5   0.978
7711485   Zaragoza  2.1.DHA 2017-01-01     1   4.336
7711486   Zaragoza  2.1.DHA 2017-01-01     2   5.129
7711487   Zaragoza  2.1.DHA 2017-01-01     3   4.407
7711488   Zaragoza  2.1.DHA 2017-01-01     4   4.743
7711489   Zaragoza  2.1.DHA 2017-01-01     5   1.697
7958013  Tarragona    2.1.A 2018-05-17     1   0.350
7958014  Tarragona    2.1.A 2018-05-17     2   0.332
7958015  Tarragona    2.1.A 2018-05-17     3   0.274
7958016  Tarragona    2.1.A 2018-05-17     4   0.256
7958017  Tarragona    2.1.A 2018-05-17     5   0.374

[355 rows x 5 columns]

In [128]:
Group.sum(Group['Active']).reset_index().to_csv('group.csv')

Exception: Column(s) ['Provincia', 'Tarifa', 'Fecha', 'Hora', 'Active'] already selected

In [124]:
Group.to_csv('Group.csv')

AttributeError: Cannot access callable attribute 'to_csv' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [7]:
# Quitamos la linea del CUPS para quedarnos con el CUPS 20
df['CUPS 22'] = df['CUPS 22'].str.split('0P', expand=True)
df['CUPS 20'] = df['CUPS 22']
df.head(3)

,Year,Month,CUPS 22,DAY,HOUR,SEASON,VALUE,TRANSP LOSS VALUE,TRANSF LOSS VALUE,FORECAST VALUE,FORECAST TRANSP LOSS VALUE,FORECASTE TRANSF LOSS VALUE,PRIORITY,CUPS 20
0,2017,1,ES0021000000472013PG,16/01/2017,1,0,"0,269","0,342","0,269","0,492","0,625","0,492",1,ES0021000000472013PG
1,2017,1,ES0021000000472013PG,16/01/2017,2,0,"0,506","0,637","0,506","0,391","0,493","0,391",1,ES0021000000472013PG
2,2017,1,ES0021000000472013PG,16/01/2017,3,0,"0,35","0,436","0,35","0,343","0,427","0,343",1,ES0021000000472013PG

In [8]:
# Agrupamos por CUPS contando horas por año para ver que CUPS tienen curva completa
# 2017 debe tener 876 horas
df2 = df.groupby(['CUPS 22', 'Year'])['HOUR'].count()
df2.head(20)

CUPS 22               Year
ES0021000000472013PG  2017    8297
                      2018    7535
ES0021000000951307DR  2017    7142
                      2018    6263
ES0021000003992036XS  2017    8712
                      2018    7656
ES0021000004049366LY  2017    8397
                      2018    7656
ES0021000004146547NN  2017    8712
                      2018    7656
ES0021000004146894GZ  2017    8736
                      2018    7464
ES0021000004154677KT  2017    6960
                      2018    7656
ES0021000004174586NZ  2017    5964
                      2018    6505
ES0021000004175795LG  2017    8736
                      2018    7656
ES0021000004609714WM  2017    7679
                      2018    7175
Name: HOUR, dtype: int64

In [9]:
contratos = pd.read_excel('./data/Contratos.xlsx')

In [10]:
contratos.head(5)

                CUPS 20 Tarifa Provincia  Potencia
0  ES0021000000472013PG  2.0.A  Alicante       6.60
1  ES0021000000951307DR  2.1.A  Alicante      13.20
2  ES0021000003992036XS  2.0.A    Madrid       3.30
3  ES0021000004049366LY  2.0.A    Madrid       3.45
4  ES0021000004146547NN  2.0.A    Madrid       3.45

In [11]:
df = pd.merge(contratos, df, on='CUPS 20')

In [17]:
df.head(5)

,CUPS 20,Tarifa,Provincia,Potencia,Year,Month,CUPS 22,DAY,HOUR,SEASON,VALUE,TRANSP LOSS VALUE,TRANSF LOSS VALUE,FORECAST VALUE,FORECAST TRANSP LOSS VALUE,FORECASTE TRANSF LOSS VALUE,PRIORITY
0,ES0021000000472013PG,2.0.A,Alicante,6.6,2017,1,ES0021000000472013PG,16/01/2017,1,0,"0,269","0,342","0,269","0,492","0,625","0,492",1
1,ES0021000000472013PG,2.0.A,Alicante,6.6,2017,1,ES0021000000472013PG,16/01/2017,2,0,"0,506","0,637","0,506","0,391","0,493","0,391",1
2,ES0021000000472013PG,2.0.A,Alicante,6.6,2017,1,ES0021000000472013PG,16/01/2017,3,0,"0,35","0,436","0,35","0,343","0,427","0,343",1
3,ES0021000000472013PG,2.0.A,Alicante,6.6,2017,1,ES0021000000472013PG,16/01/2017,4,0,"0,53","0,655","0,53","0,322","0,398","0,322",1
4,ES0021000000472013PG,2.0.A,Alicante,6.6,2017,1,ES0021000000472013PG,16/01/2017,5,0,"0,339","0,417","0,339","0,316","0,389","0,316",1

In [21]:
df.columns

Index(['CUPS 20', 'Tarifa', 'Provincia', 'Potencia ', 'Year', 'Month',
       'CUPS 22', 'DAY', 'HOUR', 'SEASON', 'VALUE', 'TRANSP LOSS VALUE',
       'TRANSF LOSS VALUE', 'FORECAST VALUE', 'FORECAST TRANSP LOSS VALUE',
       'FORECASTE TRANSF LOSS VALUE', 'PRIORITY'],
      dtype='object')

In [23]:
# Me quedo solo con las columnas que me interesan

df_final = df[['CUPS 20', 'Tarifa', 'Provincia','DAY', 'HOUR', 'SEASON', 'VALUE', 'Potencia ']]
df_final.head(5)

,CUPS 20,Tarifa,Provincia,DAY,HOUR,SEASON,VALUE,Potencia
0,ES0021000000472013PG,2.0.A,Alicante,16/01/2017,1,0,"0,269",6.6
1,ES0021000000472013PG,2.0.A,Alicante,16/01/2017,2,0,"0,506",6.6
2,ES0021000000472013PG,2.0.A,Alicante,16/01/2017,3,0,"0,35",6.6
3,ES0021000000472013PG,2.0.A,Alicante,16/01/2017,4,0,"0,53",6.6
4,ES0021000000472013PG,2.0.A,Alicante,16/01/2017,5,0,"0,339",6.6

In [24]:
df_final.to_csv('df_final.csv')