# Importar librerias necesarias

In [1]:
import pandas as pd
import openpyxl
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import colors
import numpy as np
import numpy.ma as ma
import seaborn as sns

plt.style.use('ggplot')

# Lectura de los datos

Tengo toda la información de curvas de medida en dos ficheros excel, cada uno de los ficheros tiene varias pestañas por lo que tengo que unir toda la información en un solo data frame.

Lo primero de todo es abrir el primer fichero, ver cuantas pestañas tiene y conocer los nombres de cada una de las pestañas.

Por motivos de confidencialidad estos fichero originales de curvas de consumo horarias por cliente no las puedo subir a github, subiré solo la curva final agregada para 2017 y 2018 por comunidad y por tarifa.

In [2]:
excel_document_17 = openpyxl.load_workbook('./data/Cups2017.xlsx')

In [3]:
excel_document_17.get_sheet_names()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  """Entry point for launching an IPython kernel.

['Page 1', 'Page 2', 'Page 3', 'Page 4']

### Unificar los datos. 

Accedemos al fichero excel y creamos un data frame de cada una de las pestaña, a continuación unimos todos los data frame en uno solo.

In [2]:
xlsx_2017 = pd.ExcelFile('./data/Cups2017.xlsx') 

df1 = pd.read_excel(xlsx_2017, 'Page 1') 
df2 = pd.read_excel(xlsx_2017, 'Page 2') 
df3 = pd.read_excel(xlsx_2017, 'Page 3') 
df4 = pd.read_excel(xlsx_2017, 'Page 4')

In [5]:
pd.read_excel?

Signature: pd.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, **kwds)
Docstring:
Read an Excel table into a pandas DataFrame

Parameters
----------
io : string, path object (pathlib.Path or py._path.local.LocalPath),
    file-like object, pandas ExcelFile, or xlrd workbook.
    The string could be a URL. Valid URL schemes include http, ftp, s3,
    and file. For file URLs, a host is expected. For instance, a local
    file could be file://localhost/path/to/workbook.xlsx
sheet_name : string, int, mixed list of strings/ints, or None, default 0

    Strings are used for sheet names, Integers are used in zero-indexed
    sheet positions.

    Lists of strings/integers are used to request multiple sheets.

    Specify None to get all sheets.

    str|int -> DataFrame is returned.
    list|None -> Dict of DataFrames is returned, with keys representing
    sheets.

    Available Cases

    * Defaults to 0 -> 1st sheet as a DataFrame
    * 1 -> 2nd sheet as a DataFrame
    * "Sheet1" -> 1st sheet as a DataFrame
    * [0,1,"Sheet5"] -> 1st, 2nd & 5th sheet as a dictionary of DataFrames
    * None -> All sheets as a dictionary of DataFrames

sheetname : string, int, mixed list of strings/ints, or None, default 0

    .. deprecated:: 0.21.0
       Use `sheet_name` instead

header : int, list of ints, default 0
    Row (0-indexed) to use for the column labels of the parsed
    DataFrame. If a list of integers is passed those row positions will
    be combined into a ``MultiIndex``. Use None if there is no header.
names : array-like, default None
    List of column names to use. If file contains no header row,
    then you should explicitly pass header=None
index_col : int, list of ints, default None
    Column (0-indexed) to use as the row labels of the DataFrame.
    Pass None if there is no such column.  If a list is passed,
    those columns will be combined into a ``MultiIndex``.  If a
    subset of data is selected with ``usecols``, index_col
    is based on the subset.
parse_cols : int or list, default None

    .. deprecated:: 0.21.0
       Pass in `usecols` instead.

usecols : int or list, default None
    * If None then parse all columns,
    * If int then indicates last column to be parsed
    * If list of ints then indicates list of column numbers to be parsed
    * If string then indicates comma separated list of Excel column letters and
      column ranges (e.g. "A:E" or "A,C,E:F").  Ranges are inclusive of
      both sides.
squeeze : boolean, default False
    If the parsed data only contains one column then return a Series
dtype : Type name or dict of column -> type, default None
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
    Use `object` to preserve data as stored in Excel and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.

    .. versionadded:: 0.20.0

engine: string, default None
    If io is not a buffer or path, this must be set to identify io.
    Acceptable values are None or xlrd
converters : dict, default None
    Dict of functions for converting values in certain columns. Keys can
    either be integers or column labels, values are functions that take one
    input argument, the Excel cell content, and return the transformed
    content.
true_values : list, default None
    Values to consider as True

    .. versionadded:: 0.19.0

false_values : list, default None
    Values to consider as False

    .. versionadded:: 0.19.0

skiprows : list-like
    Rows to skip at the beginning (0-indexed)
nrows : int, default None
    Number of rows to parse

    .. versionadded:: 0.23.0

na_values : scalar, str, list-like, or dict, default None
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values. By default the following values are interpreted
    as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
    'null'.
keep_default_na : bool, default True
    If na_values are specified and keep_default_na is False the default NaN
    values are overridden, otherwise they're appended to.
verbose : boolean, default False
    Indicate number of NA values placed in non-numeric columns
thousands : str, default None
    Thousands separator for parsing string columns to numeric.  Note that
    this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.
comment : str, default None
    Comments out remainder of line. Pass a character or characters to this
    argument to indicate comments in the input file. Any data between the
    comment string and the end of the current line is ignored.
skip_footer : int, default 0

    .. deprecated:: 0.23.0
       Pass in `skipfooter` instead.
skipfooter : int, default 0
    Rows at the end to skip (0-indexed)
convert_float : boolean, default True
    convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
    data will be read in as floats: Excel stores all numbers as floats
    internally

Returns
-------
parsed : DataFrame or Dict of DataFrames
    DataFrame from the passed in Excel file.  See notes in sheet_name
    argument for more information on when a Dict of Dataframes is returned.

Examples
--------

An example DataFrame written to a local file

>>> df_out = pd.DataFrame([('string1', 1),
...                        ('string2', 2),
...                        ('string3', 3)],
...                       columns=['Name', 'Value'])
>>> df_out
      Name  Value
0  string1      1
1  string2      2
2  string3      3
>>> df_out.to_excel('tmp.xlsx')

The file can be read using the file name as string or an open file object:

>>> pd.read_excel('tmp.xlsx')
      Name  Value
0  string1      1
1  string2      2
2  string3      3

>>> pd.read_excel(open('tmp.xlsx','rb'))
      Name  Value
0  string1      1
1  string2      2
2  string3      3

Index and header can be specified via the `index_col` and `header` arguments

>>> pd.read_excel('tmp.xlsx', index_col=None, header=None)
     0        1      2
0  NaN     Name  Value
1  0.0  string1      1
2  1.0  string2      2
3  2.0  string3      3

Column types are inferred but can be explicitly specified

>>> pd.read_excel('tmp.xlsx', dtype={'Name':str, 'Value':float})
      Name  Value
0  string1    1.0
1  string2    2.0
2  string3    3.0

True, False, and NA values, and thousands separators have defaults,
but can be explicitly specified, too. Supply the values you would like
as strings or lists of strings!

>>> pd.read_excel('tmp.xlsx',
...               na_values=['string1', 'string2'])
      Name  Value
0      NaN      1
1      NaN      2
2  string3      3

Comment lines in the excel input file can be skipped using the `comment` kwarg

>>> df = pd.DataFrame({'a': ['1', '#2'], 'b': ['2', '3']})
>>> df.to_excel('tmp.xlsx', index=False)
>>> pd.read_excel('tmp.xlsx')
    a  b
0   1  2
1  #2  3

>>> pd.read_excel('tmp.xlsx', comment='#')
   a  b
0  1  2
File:      /anaconda3/lib/python3.6/site-packages/pandas/io/excel.py
Type:      function

In [3]:
df_2017 = pd.concat([df1, df2, df3, df4])
df_2017.head(5)

,--Cups20--,--Line--,--Fecha--,--Hora--,--Active--,--Active With Transport Loss--,--Active With Transform Loss--
0,ES0021000004654210GL,0P,2017-01-01,1,4.085,5.22472,4.085
1,ES0021000004654210GL,0P,2017-01-01,2,3.757,4.80896,3.757
2,ES0021000004654210GL,0P,2017-01-01,3,3.930,5.03040,3.930
3,ES0021000004654210GL,0P,2017-01-01,4,3.912,5.00736,3.912
4,ES0021000004654210GL,0P,2017-01-01,5,3.839,4.91392,3.839

Comprobamos que la unión de los ficheros es correcta y que el resultado df_2017 es la suma de los cuatro df anteriores

In [ ]:
df1.count()

In [ ]:
df2.count()

In [ ]:
df3.count()

In [ ]:
df4.count()

In [ ]:
df_2017.count()

## Hacemos el mismo proceso con el excel de 2018

In [ ]:
excel_document_18 = openpyxl.load_workbook('./data/Cups2018.xlsx')
excel_document_18.get_sheet_names()

In [4]:
xlsx_18 = pd.ExcelFile('./data/Cups2018.xlsx') 
df11 = pd.read_excel(xlsx_18, 'Page 1') 
df22 = pd.read_excel(xlsx_18, 'Page 2') 
df33 = pd.read_excel(xlsx_18, 'Page 3') 
df44 = pd.read_excel(xlsx_18, 'Page 4') 
df55 = pd.read_excel(xlsx_18, 'Page 5')
df_2018 = pd.concat([df11, df22, df33, df44, df55])
df_2018.head(5)

,--Cups20--,--Line--,--Fecha--,--Hora--,--Active--,--Active With Transport Loss--,--Active With Transform Loss--
0,ES0021000004654210GL,0P,2018-01-01,1,0.0,0.0,0.0
1,ES0021000004654210GL,0P,2018-01-01,2,0.0,0.0,0.0
2,ES0021000004654210GL,0P,2018-01-01,3,0.0,0.0,0.0
3,ES0021000004654210GL,0P,2018-01-01,4,0.0,0.0,0.0
4,ES0021000004654210GL,0P,2018-01-01,5,0.0,0.0,0.0

# Unimos tanto el fichero de 2017 como el de 2018 y creamos un único fichero con las medidas de 2017 y 2018

Comprobamos que el fichero final es efectivamente la suma de los dos ficheros originales.

In [5]:
Medidas = pd.concat([df_2017, df_2018])

In [6]:
df_2017.shape

(3706776, 7)

In [7]:
df_2018.shape

(4333518, 7)

In [8]:
Medidas.shape

(8040294, 7)

### Formato

Damos un formato mas amigable al fichero cambiando los nombres de las columnas y dando formato fecha correcto.

In [9]:
Medidas = Medidas.rename(columns={'--Cups20--' : 'Cups20',
                                  '--Line--' : 'Line', 
                                  '--Fecha--' : 'Fecha', 
                                  '--Hora--' : 'Hora', 
                                  '--Active--' : 'Active' , 
                                  '--Active With Transport Loss--' : 'Active With Transport Loss', 
                                  '--Active With Transform Loss--' : 'Active With Transform Loss'})

In [10]:
Medidas.head(5)

,Cups20,Line,Fecha,Hora,Active,Active With Transport Loss,Active With Transform Loss
0,ES0021000004654210GL,0P,2017-01-01,1,4.085,5.22472,4.085
1,ES0021000004654210GL,0P,2017-01-01,2,3.757,4.80896,3.757
2,ES0021000004654210GL,0P,2017-01-01,3,3.930,5.03040,3.930
3,ES0021000004654210GL,0P,2017-01-01,4,3.912,5.00736,3.912
4,ES0021000004654210GL,0P,2017-01-01,5,3.839,4.91392,3.839

In [11]:
Medidas['Fecha']=pd.to_datetime(Medidas['Fecha'], yearfirst=True,format='%Y-%m-%d')

In [12]:
Medidas.dtypes

Cups20                                object
Line                                  object
Fecha                         datetime64[ns]
Hora                                   int64
Active                               float64
Active With Transport Loss           float64
Active With Transform Loss           float64
dtype: object

In [13]:
Medidas.head(5)

,Cups20,Line,Fecha,Hora,Active,Active With Transport Loss,Active With Transform Loss
0,ES0021000004654210GL,0P,2017-01-01,1,4.085,5.22472,4.085
1,ES0021000004654210GL,0P,2017-01-01,2,3.757,4.80896,3.757
2,ES0021000004654210GL,0P,2017-01-01,3,3.930,5.03040,3.930
3,ES0021000004654210GL,0P,2017-01-01,4,3.912,5.00736,3.912
4,ES0021000004654210GL,0P,2017-01-01,5,3.839,4.91392,3.839

# Contratos

A este fichero de medidas le falta información como la provincia por cliente, la tarifa contratada, o la potencia. Todos estos datos los conseguimos del excel de contratos que vamos a unir a este fichero según el CUPS.

In [14]:
contratos = pd.read_excel('./data/Contratos.xlsx')
contratos.head(5)

                CUPS 20 Tarifa Provincia  Potencia
0  ES0021000000472013PG  2.0.A  Alicante       6.60
1  ES0021000000951307DR  2.1.A  Alicante      13.20
2  ES0021000003992036XS  2.0.A    Madrid       3.30
3  ES0021000004049366LY  2.0.A    Madrid       3.45
4  ES0021000004146547NN  2.0.A    Madrid       3.45

In [15]:
contratos = contratos.rename(columns={'CUPS 20' : 'Cups20'})
contratos.head(5)

                 Cups20 Tarifa Provincia  Potencia
0  ES0021000000472013PG  2.0.A  Alicante       6.60
1  ES0021000000951307DR  2.1.A  Alicante      13.20
2  ES0021000003992036XS  2.0.A    Madrid       3.30
3  ES0021000004049366LY  2.0.A    Madrid       3.45
4  ES0021000004146547NN  2.0.A    Madrid       3.45

In [16]:
Medidas.shape

(8040294, 7)

Comprobamos que despues del merge tengo las mismas líneas que tenía antes, y que no tengo ningún valor NaN

In [17]:
Medidas = Medidas.merge(contratos, on='Cups20', how='left')

In [18]:
Medidas.shape

(8040294, 10)

In [19]:
Medidas.isnull().any().any()

False


### Limpieza de datos

Vamos a ver las columnas que tiene el data frame y vamos a quedarnos solo con las necesarias para el analisis.

In [20]:
Medidas.columns

Index(['Cups20', 'Line', 'Fecha', 'Hora', 'Active',
       'Active With Transport Loss', 'Active With Transform Loss', 'Tarifa',
       'Provincia', 'Potencia '],
      dtype='object')

In [21]:
Medidas = Medidas[['Cups20', 'Tarifa', 'Provincia','Fecha', 'Hora', 'Active', 'Potencia ']]
Medidas.head(5)

                 Cups20 Tarifa Provincia      Fecha  Hora  Active  Potencia
0  ES0021000004654210GL  2.0.A    Madrid 2017-01-01     1   4.085        4.4
1  ES0021000004654210GL  2.0.A    Madrid 2017-01-01     2   3.757        4.4
2  ES0021000004654210GL  2.0.A    Madrid 2017-01-01     3   3.930        4.4
3  ES0021000004654210GL  2.0.A    Madrid 2017-01-01     4   3.912        4.4
4  ES0021000004654210GL  2.0.A    Madrid 2017-01-01     5   3.839        4.4

Voy a crear una sola fila de Fecha_Hora y voy a crear ademas una columna con el año, y con el mes.

In [22]:
Medidas.dtypes

Cups20               object
Tarifa               object
Provincia            object
Fecha        datetime64[ns]
Hora                  int64
Active              float64
Potencia            float64
dtype: object

In [ ]:
Medidas.apply(lambda r : pd.datetime.combine(r['Fecha'],r['Hora']),1) 
Medidas.head()

### Guardamos el fichero como un csv con las medidas de todos nuestros clientes durante dos años.

In [24]:
# Lo edito para no volver a cargarme el fichero bueno y tener que procesar todo el notebook otra vez que es un infierno.

# Medidas.to_csv('Medidas.csv')

In [2]:
# Solo para evitar procesar todo lo anterior, si no hace falta comentar lineas

Medidas = pd.read_csv('./Medidas.csv')
Medidas.head(5)

,Unnamed: 0,Cups20,Tarifa,Provincia,Fecha,Hora,Active,Potencia
0,0,ES0021000004654210GL,2.0.A,Madrid,2017-01-01,1,4.085,4.4
1,1,ES0021000004654210GL,2.0.A,Madrid,2017-01-01,2,3.757,4.4
2,2,ES0021000004654210GL,2.0.A,Madrid,2017-01-01,3,3.930,4.4
3,3,ES0021000004654210GL,2.0.A,Madrid,2017-01-01,4,3.912,4.4
4,4,ES0021000004654210GL,2.0.A,Madrid,2017-01-01,5,3.839,4.4

In [163]:
# Medidas_p=pd.read_csv('./Medidas.csv', parse_dates=[['Fecha', 'Hora']], index_col=None)

# Agrupamos por Fecha, Hora, Provincia, Tarifa

Por motivmos de confidencialidad no puedo mostrar el origen de los datos, que son curvas de consumo horario por CUPS. Sin embargo a partir de ahora trabajermos con curvas de consumo horario agrupadas por estos campos que son suficientes para el desarrollo del modelo.

In [8]:
Medidas.shape

(8040294, 8)

Como no tengo curva de consumo completa para todos los puntos para todas las horas de los dos años, voy a calcular el número de puntos por hora y la suma de la energía para cada hora, de esta manera si divido la suma de la energía entre el número de puntos, tendría un consumo medio para cada uno de los grupos que voy a tener.

In [9]:
puntos = Medidas.groupby(['Provincia', 'Fecha', 'Hora'], sort=True).count()

puntos = puntos.reset_index()

puntos.to_csv('puntos.csv')

In [10]:
puntos.head()

  Provincia       Fecha  Hora  Unnamed: 0  Cups20  Tarifa  Active  Potencia
0  Albacete  2017-01-01     1           6       6       6       6          6
1  Albacete  2017-01-01     2           6       6       6       6          6
2  Albacete  2017-01-01     3           6       6       6       6          6
3  Albacete  2017-01-01     4           6       6       6       6          6
4  Albacete  2017-01-01     5           6       6       6       6          6

In [199]:
# !conda update seaborn

Solving environment: done

# All requested packages already installed.

In [11]:
sns.__version__

'0.9.0'

In [ ]:
sns.catplot('Cups20',data=puntos,kind='count',
            hue='Fecha',col='Provincia',
            palette='Set1');

KeyboardInterrupt:

In [ ]:
puntos = Medidas.groupby(['Provincia', 'Tarifa', 'Fecha', 'Hora'], sort=True)
Medida_procesada=(puntos['Active'].agg([ma.count, np.sum]).rename(columns={'count':'NºClientes','sum':'Activa'}) )
Medida_procesada['Tanto1']=Medida_procesada['Activa']/Medida_procesada['NºClientes']

Medida_procesada.describe()

In [ ]:
Medida_procesada=Medida_procesada.reset_index()
Medida_procesada.head(5)

In [ ]:
Medida_procesada.to_excel('Medida_procesada.xlsx')

In [ ]:
Comunidad = pd.read_excel('./data/Comunidades.xlsx')
Comunidad.head(5)

In [ ]:
Medida_procesada = pd.merge(Medida_procesada, Comunidad, on='Provincia')
Medida_procesada.head(5)

In [ ]:
Medida_procesada.index=Medida_procesada['Fecha']
Medida_procesada.head(5)

In [ ]:
Medida_procesada['Fecha']=pd.to_datetime(Medida_procesada['Fecha'], yearfirst=True,format='%Y-%m-%d')

In [ ]:
Medida_procesada.head(5)

In [ ]:
plt.plot(Medida_procesada['Tanto1'])

In [ ]:
Medida_procesada.to_csv('Medida_procesada.csv')

In [ ]:
Medida_procesada.to_excel('Medida_procesada.xlsx')

In [ ]:
# Quitamos la linea del CUPS para quedarnos con el CUPS 20
#df['CUPS 22'] = df['CUPS 22'].str.split('0P', expand=True)
#df['CUPS 20'] = df['CUPS 22']
#df.head(3)