In [1]:
import pandas as pd

In [6]:
# Para leer  el csv con las medidas
df = pd.read_csv('./data/Mejor_Medida.csv', sep=';')
df.head(5)

,Year,Month,CUPS 22,DAY,HOUR,SEASON,VALUE,TRANSP LOSS VALUE,TRANSF LOSS VALUE,FORECAST VALUE,FORECAST TRANSP LOSS VALUE,FORECASTE TRANSF LOSS VALUE,PRIORITY
0,2017,1,ES0021000000472013PG0P,16/01/2017,1,0,"0,269","0,342","0,269","0,492","0,625","0,492",1
1,2017,1,ES0021000000472013PG0P,16/01/2017,2,0,"0,506","0,637","0,506","0,391","0,493","0,391",1
2,2017,1,ES0021000000472013PG0P,16/01/2017,3,0,"0,35","0,436","0,35","0,343","0,427","0,343",1
3,2017,1,ES0021000000472013PG0P,16/01/2017,4,0,"0,53","0,655","0,53","0,322","0,398","0,322",1
4,2017,1,ES0021000000472013PG0P,16/01/2017,5,0,"0,339","0,417","0,339","0,316","0,389","0,316",1

In [7]:
# Quitamos la linea del CUPS para quedarnos con el CUPS 20
df['CUPS 22'] = df['CUPS 22'].str.split('0P', expand=True)
df['CUPS 20'] = df['CUPS 22']
df.head(3)

,Year,Month,CUPS 22,DAY,HOUR,SEASON,VALUE,TRANSP LOSS VALUE,TRANSF LOSS VALUE,FORECAST VALUE,FORECAST TRANSP LOSS VALUE,FORECASTE TRANSF LOSS VALUE,PRIORITY,CUPS 20
0,2017,1,ES0021000000472013PG,16/01/2017,1,0,"0,269","0,342","0,269","0,492","0,625","0,492",1,ES0021000000472013PG
1,2017,1,ES0021000000472013PG,16/01/2017,2,0,"0,506","0,637","0,506","0,391","0,493","0,391",1,ES0021000000472013PG
2,2017,1,ES0021000000472013PG,16/01/2017,3,0,"0,35","0,436","0,35","0,343","0,427","0,343",1,ES0021000000472013PG

In [8]:
# Agrupamos por CUPS contando horas por a√±o para ver que CUPS tienen curva completa
# 2017 debe tener 876 horas
df2 = df.groupby(['CUPS 22', 'Year'])['HOUR'].count()
df2.head(20)

CUPS 22               Year
ES0021000000472013PG  2017    8297
                      2018    7535
ES0021000000951307DR  2017    7142
                      2018    6263
ES0021000003992036XS  2017    8712
                      2018    7656
ES0021000004049366LY  2017    8397
                      2018    7656
ES0021000004146547NN  2017    8712
                      2018    7656
ES0021000004146894GZ  2017    8736
                      2018    7464
ES0021000004154677KT  2017    6960
                      2018    7656
ES0021000004174586NZ  2017    5964
                      2018    6505
ES0021000004175795LG  2017    8736
                      2018    7656
ES0021000004609714WM  2017    7679
                      2018    7175
Name: HOUR, dtype: int64

In [9]:
contratos = pd.read_excel('./data/Contratos.xlsx')

In [10]:
contratos.head(5)

                CUPS 20 Tarifa Provincia  Potencia
0  ES0021000000472013PG  2.0.A  Alicante       6.60
1  ES0021000000951307DR  2.1.A  Alicante      13.20
2  ES0021000003992036XS  2.0.A    Madrid       3.30
3  ES0021000004049366LY  2.0.A    Madrid       3.45
4  ES0021000004146547NN  2.0.A    Madrid       3.45

In [11]:
df = pd.merge(contratos, df, on='CUPS 20')

In [17]:
df.head(5)

,CUPS 20,Tarifa,Provincia,Potencia,Year,Month,CUPS 22,DAY,HOUR,SEASON,VALUE,TRANSP LOSS VALUE,TRANSF LOSS VALUE,FORECAST VALUE,FORECAST TRANSP LOSS VALUE,FORECASTE TRANSF LOSS VALUE,PRIORITY
0,ES0021000000472013PG,2.0.A,Alicante,6.6,2017,1,ES0021000000472013PG,16/01/2017,1,0,"0,269","0,342","0,269","0,492","0,625","0,492",1
1,ES0021000000472013PG,2.0.A,Alicante,6.6,2017,1,ES0021000000472013PG,16/01/2017,2,0,"0,506","0,637","0,506","0,391","0,493","0,391",1
2,ES0021000000472013PG,2.0.A,Alicante,6.6,2017,1,ES0021000000472013PG,16/01/2017,3,0,"0,35","0,436","0,35","0,343","0,427","0,343",1
3,ES0021000000472013PG,2.0.A,Alicante,6.6,2017,1,ES0021000000472013PG,16/01/2017,4,0,"0,53","0,655","0,53","0,322","0,398","0,322",1
4,ES0021000000472013PG,2.0.A,Alicante,6.6,2017,1,ES0021000000472013PG,16/01/2017,5,0,"0,339","0,417","0,339","0,316","0,389","0,316",1

In [21]:
df.columns

Index(['CUPS 20', 'Tarifa', 'Provincia', 'Potencia ', 'Year', 'Month',
       'CUPS 22', 'DAY', 'HOUR', 'SEASON', 'VALUE', 'TRANSP LOSS VALUE',
       'TRANSF LOSS VALUE', 'FORECAST VALUE', 'FORECAST TRANSP LOSS VALUE',
       'FORECASTE TRANSF LOSS VALUE', 'PRIORITY'],
      dtype='object')

In [23]:
# Me quedo solo con las columnas que me interesan

df_final = df[['CUPS 20', 'Tarifa', 'Provincia','DAY', 'HOUR', 'SEASON', 'VALUE', 'Potencia ']]
df_final.head(5)

,CUPS 20,Tarifa,Provincia,DAY,HOUR,SEASON,VALUE,Potencia
0,ES0021000000472013PG,2.0.A,Alicante,16/01/2017,1,0,"0,269",6.6
1,ES0021000000472013PG,2.0.A,Alicante,16/01/2017,2,0,"0,506",6.6
2,ES0021000000472013PG,2.0.A,Alicante,16/01/2017,3,0,"0,35",6.6
3,ES0021000000472013PG,2.0.A,Alicante,16/01/2017,4,0,"0,53",6.6
4,ES0021000000472013PG,2.0.A,Alicante,16/01/2017,5,0,"0,339",6.6

In [24]:
df_final.to_csv('df_final.csv')